<h1>Create a SnapPoll instantly and share it with your friends.</h1>
<p>Get their opinions quickly on important issues like:</p>
<p>Where should we go for dinner?</p>
<p>Who will sashay away this week on RuPaul's Drag Race?</p>
<p>Which tie should I wear with this suit?</p>
