<div class="row">
  <div class="col-xs-3" style="padding-left: 1px;">
    <%= render "photo_button", f: f %>
  </div>
  <div class="col-xs-9">
    <%= f.label :body, class: "sr-only" %>
    <%= f.text_field :body, class: "form-control input-sm", placeholder: "Enter poll answer!" %>
  </div>
</div>