<div class="row">
  <% if answer.image_url %>
    <div class="col-xs-3">
      <%= image_tag answer.image_url.to_s, class: "img-responsive" %>
    </div>
  <% end %>
  <div class="col-xs-9">
    <%= answer.body %>
  </div>
</div>