<% return if !current_user %> 
<div class="panel panel-primary">
  <div class="panel-heading">
    <b>Invite friends</b>
  </div>
  <div class="panel-body pre-scrollable">
    <% current_user.friends.each do |friend| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="poll_invites[<%=friend["id"]%>]"><%= friend["name"] %>
          </label>
        </div>
    <% end %>
  </div>
</div>